service: brewless-menu

provider:
  name: aws
  runtime: java17
  stage: local
  region: ap-southeast-1
  timeout: 30
  memorySize: 512
  environment:
    MAIN_CLASS: com.brewless.menu.MenuApplication
    MONGO_HOST: host.docker.internal

functions:
  getMenu:
    handler: org.springframework.cloud.function.adapter.aws.FunctionInvoker::handleRequest
    name: getMenu
    events:
      - http:
          path: /menu
          method: get
          request:
            parameters:
              headers:
                x-correlation-id: true
                channel-name: true
            template:
              application/json: |
                {
                  "headers": {
                    "x-correlation-id": "$input.params('x-correlation-id')",
                    "channel-name": "$input.params('channel-name')"
                  },
                  "queryParams": {
                    "page": "$input.params('page')",
                    "size": "$input.params('size')"
                  }
                }

package:
  artifact: target/menu-0.0.1-SNAPSHOT-aws.jar

plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - local